@tailwind base;
@tailwind components;
@tailwind utilities;


    .mx-h{
            margin-left: 2rem/* 32px */;
            margin-right: 11rem/* 32px */;
    }

    .mx-h-2{
            margin-right: -213px;
    }